.product__detail__container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.img {
  img {
    width: 79px;
    height: 80px;
  }
}
.main__img {
  img {
    width: 610px;
    height: 511px;
  }
}
.information__menu{
  max-width: 292px;
  h3{
    font-weight: 600px;
    font-size: 30px;
  }
  .add__to__cart{
    padding: 16px 32px;
    width: 292px;
    height: 52px;
    background-color: #5ECE7B;
    border: none;
    color: white;
    cursor: pointer;
  }
  
}
.attribute_div{
  display: flex;
  .attribute_data{
    margin:10px 10px;
    cursor: pointer;
    
  }
  input[type=radio] {
    // padding: 0.5em;
    height: 32px;
    width: 32px;
    -webkit-appearance: none;
    

    outline-offset: 0.1em;
  }

  input[type=radio]:checked {
    display: inline-block;
    background-color: #000;
    border: 2px solid #5ECE7B;
  }
}

.img__gallery{
  cursor: pointer;
}

.non_color__attribute{
  display:flex;
  input[type=radio] + .label_check{
    padding: 0.5em;
    // height: 32px;
    // width: 32px;
    -webkit-appearance: none;
    

    outline-offset: 0.1em;
  }

  
}

