.header__bar {
  top: 0;
  left: 0;
  height: 80px;
  justify-content: space-around;
  align-items: center;
//   margin: 0px 20px;
  display: flex;
//   position: absolute;

  .right__bar {
    display: flex;

    .nav_link {
      margin: 0px 15px;
      font-family: "Raleway";
      cursor: pointer;
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .logo {
    img {
    //   position: absolute;
      width: 40px;
      height: 35px;
      left: 699px;
      top: calc(50% - 41px / 2 + 4.5px);
      margin-right: 180px;
    }
  }
  .buying__logo {
    margin: 0px 5px;
    img {
        height: 30px;
        width: 30px;
        left: 124px;
        top: 5.5px;
        border-radius: 0px;
        cursor: pointer;
        
    }
  }
  .dollar__logo {
    // margin: 0px 5px;
    select{
      border: none;
    }
    img {
        height: 29px;
        width: 38px;
        left: 124px;
        top: 5.5px;
        border-radius: 0px;
        cursor: pointer;
    }
  }
  .left__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .active {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
  }
}

